apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: ScaledObject
      name: random-api-scaledobject
    patch: |-
      - op: replace
        path: /spec/maxReplicaCount
        value: 5
      - op: replace
        path: /spec/pollingInterval
        value: 15
