# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.direnv
random-api/.direnv

# Mac
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Terraform
.terraform
.terraform.tfstate.lock.info
.terraform.lock.hcl
terraform.tfstate
terraform/terraform.tfstate.*

# Node.js / Prettier
node_modules/
