apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: keda-random-consumer
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/stefan-raducan/k8s-tests.git
    targetRevision: HEAD
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: random-api
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
