name: back-merge-develop

on:
  push:
    branches: [main]

jobs:
  backmerge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          git checkout develop
          git merge origin/main
          git push
